<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
<script src="https://unpkg.com/htmx.org@2.0.0" crossorigin="anonymous"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener('htmx:beforeSwap', function (evt) {
            if ([204, 422].indexOf(evt.detail.xhr.status) >= 0) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
    });
</script>
</body>
</html>